<!-- challenges.html -->
{% extends "base.html" %}

{% block title %}Challenges{% endblock %}

{% block content %}


<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<h1>Challenges</h1>
<ul>
    {% for challenge in challenges %}
    <li class="challenge-item">
        <button type="button" onclick="openModal('{{ challenge.id }}')">
            <a href="/challenges/{{ challenge.id }}" ><img class="challenge-image" src="{{ url_for('static', filename=challenge.imageurl) }}" alt="Challenge Image" width="auto" height="60"></a>
            <strong>{{ challenge.title }}</strong>.
            <span>{{ challenge.level }}</span>.
            <span>Points: {{ challenge.reward }}</span>
        </button>
    </li>
        <div id="modal-{{ challenge.id }}" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('{{ challenge.id }}')">&times;</span>
                <p>{{ challenge.description }}</p> <!-- Additional information -->
            </div>
        </div>

    {% endfor %}
</ul>

<script>
    function openModal(challengeId) {
        var modal = document.getElementById('modal-' + challengeId);
        modal.style.display = 'block'; // Show modal
    }

    function closeModal(challengeId) {
        var modal = document.getElementById('modal-' + challengeId);
        modal.style.display = 'none'; // Hide modal
    }
</script>

{% endblock %}
